:root {
  --primary-color: rgb(199, 15, 101);
  --secondary-color: #e1dfe7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Poppins", sans-serif;
  padding: 30px;
  margin: 60px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 60px;
  color: rgb(199, 15, 101);
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  font-weight: bolder;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: rgb(199, 15, 101);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: rgb(199, 15, 101);
  border: 1px solid rgb(199, 15, 101);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
